<div class="travel-step" *transloco="let t">
	<h4>{{ t('pageTitle') }}: {{ pageTitle }}</h4>

	<form [formGroup]="form">
		<input-text name="name" disabled></input-text>
		<input-text-with-mask name="num"></input-text-with-mask>
	</form>

	<section>
		<h3>{{ t('travel.simulationInput.tooltipsHeader') }}</h3>

		{{ t('travel.simulationInput.classicTooltip') }}:
		<tooltip
			[name]="'A'"
			[title]="t('travel.simulationInput.brandHelp')"
			[placement]="'right'"
			[maxWidth]="'none'"
		>
			<span [innerHTML]="t('travel.simulationInput.brand')"></span>
			<br />
			<img
				src="https://nsure-test0.blogic.cz/assets/img/technical-certificate/brandName.jpg"
			/>
		</tooltip>

		<div>
			{{ t('travel.simulationInput.showAllTooltips') }}
		</div>
		<div>
			<button mat-flat-button color="primary" (click)="t1()">
				{{
					t('travel.simulationInput.showTooltip', { name: 'Ahoj Tome Řího' })
				}}
			</button>
			<button mat-flat-button color="primary" (click)="t2()">
				{{ t('travel.simulationInput.showTooltip', { name: 'Ahoj' }) }}
			</button>
			<button mat-flat-button color="primary" (click)="t3()">
				{{
					t('travel.simulationInput.showTooltip', { name: 'Interaktivní HTML' })
				}}
			</button>
		</div>
	</section>
</div>

<ng-template></ng-template>
