<div class="navigation">
	<button
		mat-flat-button
		color="primary"
		(click)="goBack()"
		[disabled]="currentStep === Step.SimulationInput"
	>
		{{ 'global.goPrevious' | transloco }}
	</button>
	<div class="fill-space"></div>
	<button
		mat-flat-button
		tooltip
		[tooltipOptions]="{ name: 'Tom', content: 'Ahoj Tome Řího' }"
		(click)="doStuff()"
		*ngIf="currentStep == Step.SimulationInput"
	>
		Random stuff for Travel
	</button>
	<div class="fill-space"></div>
	<button
		mat-flat-button
		tooltip
		[tooltipOptions]="{ name: 'Test', content: 'Ahoj' }"
		color="accent"
		(click)="goNext()"
		[disabled]="currentStep === Step.SimulationAdditionalInformation"
	>
		{{ 'global.goNext' | transloco }}
	</button>
</div>
