<div class="navigation" *transloco="let t">
	<button
		mat-raised-button
		color="primary"
		(click)="goBack()"
		[disabled]="currentStep === Step.SimulationInput"
	>
		{{ t('global.goPrevious') }}
	</button>

	<div class="fill-space"></div>

	<button
		mat-raised-button
		tooltip
		[tooltipOptions]="{ name: 'Tom', content: 'Ahoj Tome Řího' }"
		(click)="doStuff()"
		*ngIf="currentStep == Step.SimulationInput"
	>
		{{ t('travel.navigation.randomButton') }}
	</button>

	<div class="fill-space"></div>

	<button
		mat-raised-button
		color="accent"
		tooltip
		[tooltipOptions]="{ name: 'Test', content: 'Ahoj' }"
		(click)="goNext()"
		[disabled]="currentStep === Step.SimulationAdditionalInformation"
	>
		{{ t('global.goNext') }}
	</button>
</div>
