@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import 'assets/scss/_variables';

html,
body {
	font-family: 'Quicksand';
	margin: 0;
	padding: 0;
	font-size: 14px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: rgb(248, 249, 251);
}

.fill-space {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

@media #{$medium-and-up} {
	.container {
		width: 85%;
	}
}

@media #{$large-and-up} {
	.container {
		width: 70%;
	}
}

.tippy-tooltip {
	background-color: transparent;
	color: #333;
}

.tippy-content {
	background-color: white;
	border-radius: 8px;
	border: 2px solid #dde5ea;
	padding: 10px;
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow {
	border-width: unset;
	border-top-color: unset;
	transform-origin: 50% 50%;
	bottom: -4px;
	border-left: 2px solid #dde5ea;
	border-top: 2px solid #dde5ea;
	background-color: white;
	width: 8px;
	height: 8px;
	transform: rotate(-135deg);
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow {
	border-width: unset;
	border-bottom-color: transparent;
	transform-origin: 50% 50%;
	top: -4px;
	border-left: 2px solid #dde5ea;
	border-top: 2px solid #dde5ea;
	background-color: white;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
}
